<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="comment">
        <id property="commentId" column="commentId"></id>
        <result property="businessId" column="businessId"></result>
        <result property="imagePath" column="imagePath"></result>
        <result property="commentText" column="commentText"></result>
        <result property="commentScore" column="commentScore"></result>
        <result property="userId" column="userId"></result>
        <result property="createTime" column="createTime"></result>
        <result property="deleteTag" column="deleteTag"></result>
        <collection property="businessList" ofType="Business" select="com.boot.mapper.BusinessMapper.getId" column="businessId"></collection>
<!--        <collection property="imageList" ofType="Image" select="com.elm.mapper.ImageMapper.getImageId" column="imageId"></collection>-->
    </resultMap>
    <select id="getBusinessId" parameterType="Integer" resultMap="commentResultMap">
        select * from `comment` where businessId = #{businessId}
    </select>

</mapper>